* {
  /* border: solid black 2px; */
  font-family: 'Raleway', sans-serif;
  /* background-image: url('dist/images/water-image.jpg') */
}

/* GENERAL */

body {
  display:flex;
  flex-direction: column;
  background: lightcyan
}

p {
  margin:0;
}

/* NAVIGATION */

nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 22vh;
  /* border-bottom:solid black 2px; */
  background-image: url(/dist/images/joshuatree.jpg); 
  background-size:cover;
  color:white;
  text-shadow: 0 0 7px black
  
}

img {
  height:30px;
  width: 30px; 
}

.user-info {
    display: flex;
    height:15vh;
    width:35vw;
    flex-direction: column;
    align-items: center;
}

.book-stay {
  display:flex; 
  text-shadow: 0 0 7px black;
  color: white;
  font-size: larger;
}

.customer-name, .total-spent {
  margin-top:0%;
  margin-bottom: 1%  
}

/* MAIN SECTION  */
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height:80vh;
  background-image: url(/dist/images/trees.jpg);
  background-size:cover; 

}

.all-reservations {
  display: flex;
  flex-direction: column;
 align-items: center;
  height:40vh;
  width:28vw;
  border:black 2px;
  background-color: #39675d;
  overflow-y: scroll;
  overflow-x: hidden; 
  opacity: 80%;
}

.individual-reservation-container{
  height: 7vh; 
  width:15vw;
  border:solid  #eb8f69 2px;
  background-color: #E5a827;
  margin-top: 3%;
 color:white; 
 text-shadow: 0 0 7px black;

}

.filters {
  height: 15vh;
  width: 27vw;
  border: solid black 1px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #eb8f69;
  opacity: 83%;
  color:white;
  text-shadow: 0 0 7px black

}

.view-all-rooms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 70vh;
  width: 60vw;
  overflow-y: scroll;
  overflow-x: hidden; 
  background-size: cover;
}
.room-display-container {
display: flex;
justify-content: center;
align-items: space-evenly;
flex-wrap: wrap;
}

.avail-room-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: 20vh;
  width: 15vw;
  font-size: small;
  background-color: #eb8f69;
  margin-top: 3%;
  margin-right: 3%;
  opacity: 83%;
  color: white;
  text-shadow: 0 0 7px black
}

/* .view-all-rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid red 2px;

} */

h1 {
  font-weight: bolder;
  font-size: xx-large;
}

.all-reservations-container {
  background-color: salmon;
}

.book-stay {
  margin-top:3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height:5vh;
  width: 23vw;
}

.reservations-header{
  text-align: center;
}

.view-all-rooms::-webkit-scrollbar, .all-reservations::-webkit-scrollbar {
  width: 1vw;
  background-color:transparent;
  background-size: 30vh;
}

.view-all-rooms::-webkit-scrollbar-thumb, .all-reservations::-webkit-scrollbar-thumb {
  width: 1vw;
  border-radius: 9px;
  background-color:gray;
  background-size: 30vh;
}

.view-all-rooms:-webkit-scrollbar-button, .main-panel::-webkit-scrollbar-button {
  visibility: hidden;
}

/* OTHER */
.log-out, .filter-btn, .login-button {
  border-top-right-radius: 250px;
  border-bottom-left-radius: 250px;
  height:22%;
  width: 24%;
  margin-top:3%;
  color:white;
text-shadow: 0 0 7px;
background-color: #c5d0b2;
border:white;
text-shadow: 0 0 7px black
}

.find-button, .book-room{
  background-color: #c5d0b2;
  color:white;
  text-shadow: 0 0 7px;
  border:white;
  border-radius: 80px;
  height:30px; 
  text-shadow: 0 0 7px black
}

.view-book-filter-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-self: space-evenly;
  border: solid black 2px;
  height:70vh;
  width: 30vw;

}

h3 {
  font-weight: bolder;
}


/* LOGIN */
.login-container{
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:70vh; 
  width: 100vw;
}

.login-page {
  height:100vh;
  background-image: url(/dist/images/joshuatree.jpg);
  background-size: cover;
  color: white;
  text-shadow: 0 0 7px black
}

.login-header {
color:white;
text-shadow: 0 0 7px #F3983C
}

.login-button {
  text-shadow: 0 0 7px #F3983C
}


.hidden {
  display:none; 
}