* {
  /* border: solid black 2px; */
  font-family: 'Raleway', sans-serif;
  /* background-image: url('dist/images/water-image.jpg') */
}

/* GENERAL */

body {
  display:flex;
  flex-direction: column;
  background: lightcyan
}

p {
  margin:0;
}

/* NAVIGATION */

nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 22vh;
  border-bottom:solid black 2px;
  background-color:  #f5f5f5;
  
}

img {
  height:30px;
  width: 30px; 
}

.user-info {
    display: flex;
    height:15vh;
    width:35vw;
    flex-direction: column;
    align-items: center;
}

.book-stay {
  display:flex; 
}

.customer-name, .total-spent {
  margin-top:0%;
  margin-bottom: 1%  
}

/* MAIN SECTION  */
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height:80vh

}

.all-reservations {
  display: flex;
  flex-direction: column;
 align-items: center;
  height:40vh;
  width:28vw;
  border:black 2px;
  background-color: salmon;
  overflow-y: scroll;
  overflow-x: hidden; 
}

.individual-reservation-container{
  height: 7vh; 
  width:15vw;
  border:solid black 2px;
  background-color: rgb(150, 246, 241);
  margin-top: 3%;

}

.filters {
  height: 15vh;
  width: 27vw;
  border: solid black 1px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: azure;
}

.view-all-rooms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 70vh;
  width: 60vw;
}
.room-display-container {
display: flex;
justify-content: center;
align-items: space-evenly;
flex-wrap: wrap;
}

.avail-room-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 20vh;
  width: 15vw;
  font-size: small;
  background-color: lightyellow;
  margin-top: 3%;
}

.view-all-rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid red 2px;
  overflow-y: scroll;
  overflow-x: hidden; 
}

h1 {
  font-weight: bolder;
}

.all-reservations-container {
  background-color: salmon;
}

.book-stay {
  margin-top:3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height:5vh;
  width: 23vw;
}

.reservations-header{
  text-align: center;
}

.view-all-rooms::-webkit-scrollbar, .all-reservations::-webkit-scrollbar {
  width: 1vw;
  background-color:transparent;
  background-size: 30vh;
}

.view-all-rooms::-webkit-scrollbar-thumb, .all-reservations::-webkit-scrollbar-thumb {
  width: 1vw;
  border-radius: 9px;
  background-color:gray;
  background-size: 30vh;
}

.view-all-rooms:-webkit-scrollbar-button, .main-panel::-webkit-scrollbar-button {
  visibility: hidden;
}

/* OTHER */
.log-out, .filter-btn {
  border-top-right-radius: 250px;
  border-bottom-left-radius: 250px;
  height:22%;
  width: 24%;
  margin-top:3%
}

.view-book-filter-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-self: space-evenly;
  border: solid black 2px;
  height:70vh;
  width: 30vw;

}

h3 {
  font-weight: bolder;
}


.hidden {
  display:none; 
}